<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="~{fragments/head :: common-head}"></th:block>
    <title>Administration - ECO Cook</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <link rel="stylesheet" th:href="@{/css/compte-admin.css}">
</head>
<body>
    <!-- NAVBAR -->
    <div th:replace="~{fragments/header :: navbar}"></div>
    
    <!-- ADMIN DASHBOARD -->
    <section class="section">
        <div class="container">
            <h1 class="title is-2">Tableau de bord Administration</h1>
            
            <!-- Messages -->
            <div th:if="${success}" class="notification is-success is-light">
                <button class="delete" onclick="this.parentElement.remove()"></button>
                <span th:text="${success}"></span>
            </div>
            <div th:if="${error}" class="notification is-danger is-light">
                <button class="delete" onclick="this.parentElement.remove()"></button>
                <span th:text="${error}"></span>
            </div>
            
            <!-- Stats Cards -->
            <div class="columns is-multiline stats-grid">
                <div class="column is-half-tablet is-one-third-desktop">
                    <div class="box">
                        <div class="level">
                            <div class="level-left">
                                <div>
                                    <p class="heading">Modifications en attente</p>
                                    <p class="title" th:text="${pendingModifications}">0</p>
                                </div>
                            </div>
                            <div class="level-right">
                                <i class="fas fa-clock fa-3x stat-icon-orange"></i>
                            </div>
                        </div>
                        <a th:href="@{/admin/modifications}" class="button is-primary is-fullwidth">
                            Voir les modifications
                        </a>
                    </div>
                </div>
                
                <div class="column is-half-tablet is-one-third-desktop">
                    <div class="box">
                        <div class="level">
                            <div class="level-left">
                                <div>
                                    <p class="heading">Utilisateurs</p>
                                    <p class="title" th:text="${totalUsers}">0</p>
                                </div>
                            </div>
                            <div class="level-right">
                                <i class="fas fa-users fa-3x stat-icon-green"></i>
                            </div>
                        </div>
                        <a th:href="@{/admin/users}" class="button is-primary is-fullwidth">
                            Gérer les utilisateurs
                        </a>
                    </div>
                </div>
                
                <div class="column is-half-tablet is-one-third-desktop">
                    <div class="box">
                        <div class="level">
                            <div class="level-left">
                                <div>
                                    <p class="heading">Avis signalés</p>
                                    <p class="title" th:text="${reportedReviews}">0</p>
                                </div>
                            </div>
                            <div class="level-right">
                                <i class="fas fa-flag fa-3x stat-icon-danger"></i>
                            </div>
                        </div>
                        <a th:href="@{/admin/reviews/reported}" class="button is-danger is-fullwidth">
                            Voir les avis signalés
                        </a>
                    </div>
                </div>
                
                <div class="column is-half-tablet is-one-third-desktop">
                    <div class="box">
                        <div class="level">
                            <div class="level-left">
                                <div>
                                    <p class="heading">Recettes signalées</p>
                                    <p class="title" th:text="${reportedRecipes}">0</p>
                                </div>
                            </div>
                            <div class="level-right">
                                <i class="fas fa-utensils fa-3x stat-icon-danger"></i>
                            </div>
                        </div>
                        <a th:href="@{/admin/recipes/reported}" class="button is-danger is-fullwidth">
                            Voir les recettes signalées
                        </a>
                    </div>
                </div>
                
                <div class="column is-half-tablet is-one-third-desktop">
                    <div class="box">
                        <div class="level">
                            <div class="level-left">
                                <div>
                                    <p class="heading">Catalogue ingrédients</p>
                                    <p class="title">
                                        <span th:text="${ingredientsCount}">0</span>
                                    </p>
                                </div>
                            </div>
                            <div class="level-right">
                                <i class="fas fa-carrot fa-3x stat-icon-green"></i>
                            </div>
                        </div>
                        <a th:href="@{/admin/ingredients}" class="button is-primary is-fullwidth">
                            Gérer les ingrédients
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- FOOTER -->
    <div th:replace="~{fragments/footer :: footer}"></div>
    
    <div th:replace="~{fragments/header :: navbar-scripts}"></div>
</body>
</html>